$main-color: #112d81;
$section-title-color: #db364a;

$laptop: '1366px';
$pad-l: '960px';
$pad-m: '768px';
$mobile: '568px';

@mixin screen($size){
  @media(max-width: $size){
    @content
  }
};

@font-face {
  font-family: 'Impact';
  src: url('../font/Impact.ttf') format("truetype")
};
@font-face {
  font-family: 'NotoSansCJKtc';
  src: url('../font/NotoSansCJKtc-Light.otf') format("opentype");
  font-weight: normal;
};
@font-face {
  font-family: 'NotoSansCJKtc';
  src: url('../font/NotoSansCJKtc-Medium.otf') format("opentype");
  font-weight: medium;
};
@font-face {
  font-family: 'NotoSansCJKtc';
  src: url('../font/NotoSansCJKtc-Bold.otf') format("opentype");
  font-weight: bold;
};

// 共同設定
*{
	position: relative;
	box-sizing: border-box;
}
html, body{
	padding: 0;
	margin: 0;
}
.container{
	max-width: 1920px;
	height: 100vh;
}
.bg-cover{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.sectionBgc{
	background-color: $main-color;
}

// 個別設定
.header{
	width: 100%;
	height: 100vh;
	background-image: url('../images/1/bg1.png');
	@include screen($mobile){
		background-image: url('../images/1/mo/bg1.png');
	}
	&_girl{
		width: 100%;
		height: 100%;
		background-image: url('../images/1/bg2.png');
		position: absolute;
		left: 0;
		bottom: 0;
		@include screen($mobile){
			background-image: url('../images/1/mo/bg2.png');
			background-size: 500px;
    	background-position: left bottom;
		}
	}
	&_wave{
		width: 100%;
		height: 100%;
		background-image: url('../images/1/bg3.png');
		position: absolute;
		left: 0;
		bottom: 0;
		@include screen($mobile){
			background-image: url('../images/1/mo/bg3.png');
		}
	}
	.titleContent{
		width: 692px;
		height: 100%;
		position: absolute;
		right: 270px;
		bottom: 0;
		overflow: hidden;
		@include screen($laptop){
			right: 5%;
		}
		@include screen($mobile){
			width: 100%;
			height: 25%;
			right: 0;
			bottom: 50%;
			transform: translateY(50%);
		}
		.t3{
			width: 100%;
			height: 100%;
			background-image: url('../images/1/t3.png');
			@include screen($mobile){
				padding-top: 45%;
				width: 100%;
				height: 0;
				background-image: url('../images/1/mo/t3.png');
			}
		}
		.t3button{
			width: 100%;
			height: 100%;
			background-image: url('../images/1/t3button.png');
			position: absolute;
			top: 0;
			left: 0;
			@include screen($mobile){
				padding-top: 0;
				width: 50%;
				height: auto;
				background-image: url(../images/1/mo/t3button.png);
				top: 50%;
				left: 50%;
				transform: translateX(-50%);
			}
			&_link{
				width: 100%;
				height: 100%;
				display: block;
				@include screen($mobile){
					padding-bottom: 22.6%;
					height: 0;
					display: block;
				}
			}
		}
	}
	&_logo{
		width: 363px;
  	height: 1080px;
		background-image: url('../images/1/t23logo.png');
		position: absolute;
		left: 5%;
		bottom: 0;
		z-index: 10;
		@include screen($mobile){
			padding-top: 26.66%;
			width: 100%;
			height: 0;
			background-image: url('../images/1/mo/t23logo.png');
			left: 0;
		}
	}
}
.section{
	width: 100%;
	height: 100vh;
	&_left,
	&_right{
		width: 50%;
		height: 100%;
		float: left;
		@include screen($mobile){
			float: none;
			width: 100%;
			height: 50vh;
		}
	}
	&_left{
		padding-top: 95px;
		padding-bottom: 95.8px;
		.imgBox{
			width: 100%;
			height: 100%;
			&_img{
				background-image: url('../images/2/img.jpg');
				width: 100%;
				height: 100%;
				@include screen($mobile){
					padding-top: 109.09%;
					width: 100%;
					height: 0;
					background-image: url('../images/2/mo/img.jpg');
				}
				&_traffic{
					background-image: url('../images/3/img.jpg');
					width: 100%;
					height: 100%;
					@include screen($mobile){
						padding-top: 109.09%;
						width: 100%;
						height: 0;
						background-image: url('../images/3/mo/img.jpg');
					}
				}
			}
			&_imgtopright{
				width: 249px;
				height: 254px;
				background-image: url('../images/2/imgtopright.png');
				position: absolute;
				top: 0;
				right: 0;
				@include screen($mobile){
					padding-top: 27.29%;
    			width: 87px;
					height: 0;
					background-image: url('../images/2/mo/imgtopright.png');
				}
			}
		}
		@include screen($mobile){
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 23px;
			padding-right: 22px;
		}
	}
	&_right{
		.girl{
			width: 100%;
			height: 100%;
			background-image: url('../images/2/timg.png');
			background-position: right bottom;
			background-size: 766px;
			@include screen($mobile){
				padding-top: 81.46%;
				width: 100%;
				height: 0;
				background-image: url('../images/2/mo/timg.png');
				background-size: 370px;
				position: absolute;
				right: 0;
				bottom: 0;
			}
		}
		.trafficLine{
			width: 100%;
			height: 100%;
			background-image: url('../images/3/timg.png');
			background-position: right bottom;
			background-size: 766px;
			@include screen($mobile){
				padding-top: 81.46%;
				width: 100%;
				height: 0;
				background-image: url('../images/3/mo/timg.png');
				background-size: 370px;
				position: absolute;
				right: 0;
				bottom: 0;
			}
		}
		.textContent{
			position: absolute;
			top: 258px;
			left: 85px;
			@include screen($mobile){
				top: 19px;
				left: 23px;
			}
			&_title{
				width: 464px;
				height: 245px;
				opacity: 0.8;
				font-family: Impact;
				font-size: 111.2px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 0.99;
				letter-spacing: 6.67px;
				text-align: left;
				color: $section-title-color;
				@include screen($mobile){
					width: 197px;
					height: 105px;
					font-size: 47.1px;
					letter-spacing: 2.83px;
				}
			}
			&_subtitle{
				height: 49px;
				margin: 0;
				font-family: 'NotoSansCJKtc';
				font-size: 35.4px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.04;
				letter-spacing: 5.67px;
				text-align: left;
				color: #db364a;
				@include screen($mobile){
					height: 21px;
					font-size: 15px;
					letter-spacing: 2.4px;
				}
			}
			&_text{
				width: 430.9px;
				font-family: 'NotoSansCJKtc';
				font-size: 14.9px;
				font-weight: 300;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.6;
				letter-spacing: 1.19px;
				text-align: left;
				color: #ffffff;
				@include screen($mobile){
					display: none;
				}
			}
			&_text_mo{
				display: none;
				@include screen($mobile){
					display: block;
					width: 180.2px;
					font-family: 'NotoSansCJKtc';
					font-size: 12px;
					font-weight: 300;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.6;
					letter-spacing: normal;
					text-align: left;
					color: #ffffff;
				}
			}
		}
	}
	.pagelogo-left{
		width: 271px;
		height: 100%;
		background-image: url('../images/2/logo.png');
		position: absolute;
		left: 90px;
		bottom: 70px;
		@include screen($mobile){
			padding-top: 20%;
			width: 100%;
			height: 0;
			left: 0;
			background-image: url('../images/2/mo/bglogo.png');
		}
	}
	.pagelogo-right{
		width: 271px;
		height: 100%;
		background-image: url('../images/2/logo.png');
		position: absolute;
		right: 90px;
		bottom: 70px;
		@include screen($mobile){
			padding-top: 20%;
			width: 100%;
			height: 0;
			left: 0;
			background-image: url('../images/2/mo/bglogo.png');
		}
	}
}